/*.title{
    background-color: hsl(9, 100%, 64%, 0.25);
  }
  .loginBody{
    background-image: url('../images/bgRotate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100vw;
    height: 100vh;
    position: absolute;
    top:0px;
  }
  h1{
      margin: auto;
      padding: 20px 0;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      color: rgb(239, 242, 248);
      text-align: center;
      text-transform: uppercase;
  }
  
  .loginForm{
      background-color: rgb(211, 211, 211, 0.5);    
      width: 300px;
      margin: 200px auto;
      padding: 50px 90px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: mediumblue;
    }
  
  label{
      color: black;
      font-size: 20px;
      margin:37%;
      color: mediumblue;
  }
  
  input{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-color: burlywood;
    border-radius: 5px;
    
  }
  
  button{
    display: block;
    width: 50%;
    margin: 0 25%;
    padding: 3px 5px;
    font-size: 20px;
    color: mediumblue;
    background-color:  hsl(9, 100%, 64%, 0.6);
    border-radius: 8px;
  }
  
  .registeration-link{
    width: 100%;
    margin: 20px 10px;
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .registeration-link span {
    color: darkred;
    font-weight: bold;
  }*/